    .navbar-gradient {
      background: linear-gradient(
        rgba(0, 0, 0, 0.979) 0%,   /* atas hitam pekat */
        rgba(0, 0, 0, 0.4) 60%, /* tengah agak transparan */
        rgba(0, 0, 0, 0) 100%   /* bawah full transparan */
      ) !important;
    }
    .navbar-gradient .nav-link,
    .navbar-gradient .navbar-brand {
      color: white !important;
    }
    .navbar-gradient .nav-link:hover {
      color: #ffcc00 !important;
    }

    .nav-link.beranda {
  margin-right: 60px; /* atur sesuai selera */
  font-weight: bold;
}

    .search-container {
      background-color: #e0e0e0;
      border-radius: 20px;
      padding: 5px 10px;
      display: flex;
      max-width: 70%;
      width: 100%;
      align-items: center;
    }
    .search-input {
      border: none;
      background: transparent;
      outline: none;
      flex: 1;
    }
    .icon-btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: white;
    }

    .icon-shop {
          background: none;
      border: none;
      font-size: 50px;
      color: white;
    }

      .section-title {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .subtitle {
      color: #666;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }

    .product-img {
      width: 100%;
      max-height: 150px;
      object-fit: contain;
    }

    .sale-img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      height: 200px;
    }
  .product-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }

  .product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.20);
  }

  .product-card p {
    font-weight: bold;
    margin: 0 0 5px;
    color: #28a745;
  }

  .rating {
    color: orange;
    font-size: 0.9rem;
  }

  .btn-load {
    display: block;
    margin: 40px auto 0;
    padding: 10px 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background 0.3s;
    
  }

  .btn-load:hover {
    background-color: #858181;
  }